.download_page {
  padding: 90px 0;
  background: #333;
  position: relative;
  .download_details {
    display: block;
    text-align: center;
    .cart_icon {
      font-size: 4rem;
      color: #00bcd4;
    }
    h2 {
      font-size: 35px;
      color: #fff;
      margin: 10px 0px 20px;
      text-transform: uppercase;
      letter-spacing: -1px;
      font-weight: 700;
    }
    p {
      text-align: center;
      padding: 0 25%;
      color: #fff;
      opacity: 0.6;
    }
    .download_btn {
      border: none;
      background-color: #00bcd4;
      font-weight: 700;
      font-size: 14px;
      line-height: 60px;
      padding: 0px 70px 0 35px;
      letter-spacing: 1px;
      color: #fff;
      .download_icon {
        font-size: 18px;
      }
      span {
        padding: 10px;
      }
    }
  }
}

@media (max-width:768px){
    .download_page {
        padding-top: 90px;
        
        background: #333;
        position: relative;
        .download_details {
          display: block;
          text-align: center;
          .cart_icon {
            font-size: 4rem;
            color: #00bcd4;
          }
          h2 {
            font-size: 35px;
            color: #fff;
            width: 95%;
            margin: 10px 0px 20px;
            text-transform: uppercase;
            letter-spacing: -1px;
            font-weight: 700;
          }
          p {
            text-align: center;
            padding: 0;
            color: #fff;
            opacity: 0.6;
          }
          .download_btn {
            border: none;
            background-color: #00bcd4;
            font-weight: 700;
            font-size: 14px;
            line-height: 60px;
            padding: 8px;
            letter-spacing: 1px;
            color: #fff;
            .download_icon {
              font-size: 18px;
            }
            span {
              padding: 10px;
            }
          }
        }
      }
      

}
