.container{
    width:80%;
    h2{
    text-align: center;
    padding: 0px 23%;
    font-size: 35px;
    text-transform: none;
    line-height: 45px;
    margin: 0px 0px 60px;
    font-weight: 200;
}
    }
.icon-box{
.col-md-3{
    width:25%;
    padding: 20px;
}
p{
    padding:10px;
    font-size: 13px;
    line-height: 22px;
    margin: 0px;
    color: gray;
}
span{
    width: 80px;
    height: 80px;
    display: table;
    background: #00BCD4;
    margin: 0 auto 25px;
    border-radius: 50%;
}
.icons{
    font-size: 40px;
    line-height: 90px;
    color: #fff;
    margin-top: 20px;
}

}

@media  (max-width: 767px) {
    .container{
        width:100%;
    }
}